/* fuentes */

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Book.ttf");
}

/* reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* generales */

html {
    font-size: 20px;
}

@media (max-width: 440px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: "Avenir", "sans-serif";
    color: #67666e;
}

img {
    max-width: 100%;
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; 
}

/* animaci칩n */

@keyframes heroAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    12% {
        opacity: 1;
    }

    25% {
        transform: scale(1.2);
    }

    75% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 0;
    }
}

.hero div {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    opacity: 0;
    animation: heroAnimation 27s infinite;

}

.hero div:nth-child(1) {
    background-image: url("../img/Salvi/F-100/_DSC0041.JPG");

}

.hero div:nth-child(2) {
    background-image: url("../img/Salvi/FR-A265/Terraza\ 3.jpg");
    animation-delay: 9s;
}

.hero div:nth-child(3) {
    background-image: url("../img/Salvi/A-161/DSC02168.JPG");
    animation-delay: 18s;
}

.hero .hero-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 30%;
    height: auto;
}

.hero .hero-down {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    width: 5%;
    height: auto;
}

@media (max-width: 720px) {
    .hero .hero-logo {
        width: 60%;
    }
    .hero .hero-down {
        width: 15%;
    }
}
@media (max-width: 440px) {
    .hero .hero-logo {
        width: 80%;
    }
    .hero .hero-down {
        width: 20%;
    }
}

/* Header */

header {
    background-color: white;
    box-shadow: 1.5px 1.5px 4px #b3b3b3;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index: 1;
    transition: 600ms all ease-in-out;
}

header.transparente {
    background-color: transparent;
    box-shadow: none;
}

header img {
    height: 50px;
    width: auto;
}

header nav a {
    color: #67666e;
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out;
}

header.transparente nav a {
    color: rgba(255, 255, 255, 0.9);
    font-weight: normal;
    margin-left: 1em;
    transition: all 300ms ease-in-out;
}

header nav a.activo,
header nav a:hover {
    color: blue;
    font-weight: bold;
}

header.transparente nav a.activo,
header.transparente nav a:hover {
    color: white;
}

/* bot칩n burger */

#burger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#burger .barra {
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: blue;
    transition: 400ms all ease-in-out;
}

#burger.abierto .barra {
    background-color: white;
}

#burger.abierto .barra.superior {
    transform: translateY(8px) rotateZ(45deg);
}

#burger.abierto .barra.media {
    width: 0;
}

#burger.abierto .barra.inferior {
    transform: translateY(-8px) rotateZ(-45deg);
}

@media (max-width: 620px) {
    #burger {
        display: block;
    }

    header {
        justify-content: flex-end;
    }

    header nav {
        display: none;
    }
}

/* Menu lateral  */

.menu {
    width: 360px;
    height: 100vh;
    background-color: blue;
    position: fixed;
    top: 0;
    left: -360px;
    padding-top: 40px;
    transition: all 700ms ease-in-out;
}

.menu.abierto {
    left: 0;
}

.menu nav {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.menu nav a {
    padding: 0.6rem 0;
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.1rem;
    transition: 300ms all ease-in-out;
}

.menu nav a:hover {
    color: white;
}

.menu .copyright {
    color:  rgb(255, 255, 255, 0.75);
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

/* Layout */

.primera {
    margin-top: 100vh;
}

#pr {
    display: block;
    margin-top: -90px;
    padding-bottom: 90px;
}

.fila {
    display: flex;
    padding: 2rem 1rem;
}

/* Diferentes tama침os de columnas reutilizables */

.col-100 {
    width: 100%;
    padding: 0.5rem 1rem;
}
.col-75 {
    width: 75%;
    padding: 0.5rem 1rem;
}

.col-66 {
    width: 66.66666%;
    padding: 0.5rem 1rem;
}

.col-50 {
    width: 50%;
    padding: 0.5rem 1rem;
}

.col-33 {
    width: 33.33333%;
    padding: 0.5rem 1rem;
}

.col-25 {
    width: 25%;
    padding: 0.5rem 1rem;
}

@media (max-width: 720px) {
    .fila {
        flex-direction: column;
        padding: 1rem 0.5rem;
    }

    .col-75,
    .col-66,
    .col-50,
    .col-33,
    .col-25 {
        width: 100%;
    }
}

/* tipos de flex reutilizables */

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Parallax */

.fila.parallax {
    background-image: url('../img/Salvi/propiedad5.jpg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    padding: 2rem;
}

.fila.parallax div {
    background-color: rgb(255, 255, 255, 0.75);
    padding: 2rem;
}

.fila.parallax div p {
    font-size: 1.5rem;
    color: blue;
    text-align: center;
}

/* Caja de navegaci칩n */

.caja-nav img {
    width: 20%;
    margin-bottom: 1em;
}

.caja-nav a {
    border: 1px solid blue;
    background-color: white;
    color: blue;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
.caja-nav a:hover {
    background-color: blue;
    color: white;
}

/* Formulario contacto */

form.contacto {
    width: 50%;
}

@media (max-width: 720px) {
    form.contacto {
        width: 75%;
    }
}

@media (max-width: 440px) {
    form.contacto {
        width: 100%;
    }
}

form.contacto .fila {
    padding: 0.8rem;
}

input {
    border: none;
    border-bottom: 1.5px solid blue;
    font-size: 1rem;
    padding: 0.5em 1em;
    width: 100%;
}

input:focus {
    outline: none;
    border-bottom: 2px solid blue
}

input.usuario {
    background-image: url("../img/Salvi/usuario.png");
    background-repeat: no-repeat;
    background-position:  8px;
    padding-left: 2em;;
}

input.email {
    background-image: url("../img/Salvi/correo-electronico-vacio.png");
    background-repeat: no-repeat;
    background-position:  8px;
    padding-left: 2em;
}

button {
    border: none;
    background-color: blue;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}
button:hover {
    background-color: rgb(7, 7, 71);
    color: white
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label::before {
    content: url("../img/Salvi/grabacion.png");
    position: relative;
    top: 3px;
}

input[type="checkbox"]:checked + label::before {
    content: url("../img/Salvi/aceptar.png");
}